/* Disqus */
#disqus_thread { padding-top: 28px; }

/* Blog list */
.blog-list-title {
  font-size: 1.3em;
}
.blog-list-excerpt {
  border-bottom: 1px solid #f5f5f5;
  margin-bottom: 20px;
}
.blog-list-date {
  color: #bbb;
}
.pagination {
  margin: 10px 0px;
}

/* bootswatch/superhero customization */
body { 
  font-weight: 400;
}
code {
  background-color: inherit;
  color: yellow;
}

/* tag list */
.well a {
  /*color: #DF691A;*/
  color: #FC8230;
}
.tagsize {
  font-size: 0.8em;
}
