---
layout: default
title: Welcome
tags: about
---

<div id="home">

  <p>Browse by tag:</p>  

<ul id="tagcloud">{% for tag in site.tags %}
  <li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a> <span>({{ tag[1].size }})</span></li>{% endfor %}
</ul>

  <p>Blog posts:</p>
  <ul class="posts">
    {% for post in site.posts %}
      <li><span>{{ post.date | date: "%Y-%m-%d" }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>

  <p>Pages:</p>
  <ul class="posts">
    {% for page in site.pages %}
      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
    {% endfor %}
  </ul>

</div>
