<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ page.title }} | {{ site.name }}</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- syntax highlighting CSS -->
    <link href="/css/syntax.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/css/blog-post.css" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">

</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ site.name }}</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                {% for page in site.pages %}
                  {% if page.ishome != true %}
                    {% if page.url contains "/tag/" %}{% else %}
                      <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <div class="container">

        <div class="row">
            <div class="col-lg-8">

                <h1>{{ page.title }}</h1>
                {{ content }}
            
            </div>

            <div class="col-lg-4">
                <div class="well">
                    <h4>Blog Search</h4>
                    <script>
                      (function() {
                        var cx = '012785538144992650163:iw-sjyqbxdi';
                        var gcse = document.createElement('script');
                        gcse.type = 'text/javascript';
                        gcse.async = true;
                        gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                            '//www.google.com/cse/cse.js?cx=' + cx;
                        var s = document.getElementsByTagName('script')[0];
                        s.parentNode.insertBefore(gcse, s);
                      })();
                    </script>
                    <gcse:search></gcse:search>
                    <!--
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                    -->
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Popular Blog Categories</h4>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for tag in site.tags %}
                                  {% assign loopindex = forloop.index | modulo: 2 %}
                                  {% if loopindex == 1 %}
                                    <li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a> <span>({{ tag[1].size }})</span></li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul class="list-unstyled">
                                {% for tag in site.tags %}
                                  {% assign loopindex = forloop.index | modulo: 2 %}
                                  {% if loopindex == 0 %}
                                    <li><a href="/tag/{{ tag[0] }}">{{ tag[0] }}</a> <span>({{ tag[1].size }})</span></li>
                                  {% endif %}
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /well -->
                <div class="well">
                    <h4>Programming Is Fun</h4>
                    <p>This is a blog about programming for the sheer joy of it. <a href="/tag/about/">More...</a></p>
                    <p>
                      <b>Contact</b><br/>
                      <a href="https://github.com/wiseley">github.com/wiseley</a><br />
                      <a href="https://twitter.com/mattwiseley">twitter.com/mattwiseley</a><br />
                    </p>
                </div>
                <!-- /well -->
            </div>
        </div>

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <!--<p>Copyright &copy; Company 2013</p>-->
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

</body>

</html>
